.board {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 1rem;
  min-width: 15rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header .left {
  display: flex;
  align-items: center;
}

.boardInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: var(--gray-dark-3);
}

.boardInfo svg {
  font-size: 1rem;
}

.header .right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.right svg {
  color: var(--gray-dark-3);
  font-size: 1.5rem;
}
