.card {
  background-color: var(--white);
  padding: 1rem;
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  transition: transform 0.5s, background-color 0.25s;
  border-radius: 10px;
}

.card:hover {
  transform: translateX(1rem);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userId {
  font-size: 0.8rem;
  color: var(--gray-dark-3);
}

.userInfo {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: var(--gray-dark-3);
}

.title {
  display: flex;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.content span {
  border: 1px solid var(--gray-light-1);
  padding: 0.2rem 0.3rem;
  border-radius: 5px;
}

.content div {
  display: flex;
  gap: 0.3rem;
}

.content .tags {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--gray-dark-1);
  border: 1px solid var(--gray-light-1);
  padding: 0.2rem 0.3rem;
  border-radius: 5px;
}

.content p {
  font-size: 0.8rem;
}

html[theme="dark"] .card {
  background-color: var(--dark-card);
}

html[theme="dark"] .title {
  color: var(--gray-light-1);
}

html[theme="dark"] .content span {
  border-color: var(--gray-dark-2);
}

html[theme="dark"] .content div {
  color: var(--gray-light-1);
  border-color: var(--gray-dark-2);
}

html[theme="dark"] .content .deleteCard {
  color: var(--gray-light-1);
}
