.header {
  box-shadow: var(--shadow);
  padding: 1rem 8rem;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 3rem;
  width: 12rem;
}

.select {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--gray-light-2);
  justify-content: flex-start;
  width: max-content;
  padding: 0.3rem 0.8rem;
  border-radius: 15px;
  font-size: 0.9rem;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}

.select:hover {
  transform: translateY(-0.15rem);
  box-shadow: var(--shadow);
}
.content {
  display: flex;
  align-items: center;
}

.popup {
  position: absolute;
  top: 8%;
  right: 5%;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--shadow);
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  font-size: 0.9rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;
  z-index: 100;
}

.popupItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem;
}

.popupItem select {
  padding: 0.2rem;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 1rem;
  }

  .header img {
    height: 2rem;
    width: 7rem;
  }
}

html[theme="dark"] .header {
  background-color: var(--dark-body);
  box-shadow: var(--dark-shadow);
}

html[theme="dark"] .select {
  background-color: var(--dark-card);
  color: var(--white);
}

html[theme="dark"] .popup {
  background-color: var(--dark-card);
  color: var(--white);
  box-shadow: var(--dark-shadow);
}

html[theme="dark"] .popup select {
  background-color: var(--dark-body);
  color: var(--white);
}
